<body>
<div class='jumbotron' id="home">
	<div class='container'>
		<h2 id="small">Sam Copeland <small>Apprentice Web Developer</small></h2>
	</div>	
</div>

<div class='container'>
	<div class="center_text">
		<%= image_tag "profile_pic.jpg", alt: "Me!", id: 'profile_pic' %>
	</div>
</div>


<div class='container'>
	<p>
		Lucas ipsum dolor sit amet nute kaminoan metalorn qui-gonn skywalker taung mon luuke rebo cerean. Abrion lars felucia ruurian lyn jagged. Xexto malastare sing barriss solo mohc. Tatooine zannah haako massans panaka. Gado anzati rukh mon muzzer shistavanen. Solo kashyyyk timoliini cad klaatu. Jettster naberrie billaba yarael joh mon qel-droma senex besalisk. Paploo ferroans besalisk zabrak selonian ahsoka. Antilles mygeeto thisspiasian veila. Twi'lek hoojib darth skakoan farlander rahm. Sluis depa stass jerec braxant.

	Massa haako organa toydarian meridian drach'nam darth. Shaak hobbie talz gand firmus quermian porkins. Hobbie natasi muunilinst moff ackbar. Gwurran ansionian boba tython. Soontir jabiimas jade ti abrion ismaren h'nemthean. Darth taun owen dooku rahn ulic gerb iego. Beru joruus rex nagai kyle sneevel. Ubb palpatine antilles rakata ryn subterrel noghri shi'ido. Dug kowakian nagai elomin. Fett zev bail kael ventress greedo. Biggs lyn joruus even plagueis. Drall skirata whill sern lyn. Galen falleen gamorr anthos tarkin myneyrsh moff chewbacca.

	Fel saché anomid thakwaash thul tapani. Lars sanyassan ki-adi-mundi braxant bria vilim tierce. Dexter taun mara vella yoda jettster nute himoran rodian. Kuat palpatine melodie bespin rieekan hssis qui-gonn organa ailyn. Sern gado stass nas jax ralter davin mustafarian. Briqualon gonk lowbacca devaronian vratix tarasin jango. -lom ev-9d9 shaak marek dagobah -1b shawda katarn dantooine. Leia thul kota zabrak selkath. Lars kuat gordin allana vuffi. Lars taun wookiee leia mirialan annoo coruscant. Darth bith artaru padmé pau'an.

	Zekk evocii shistavanen skywalker. Nomi zhell farlander geonosian gunray b4-d4 mandalore sanyassan wampa. Derek hoth darth isard caedus vratix darth kit. Crynyd ki-adi-mundi sio danni ka mohc tof x1 jaina. Kubaz trandoshan yarael kwa stereb lumiya. Ventress tano tiin medon vuffi hoth. Cordé ooryl jax jango boltrunians iv ralter keyan gorax. Antemeridian maul paaerduag x'ting tapani bothawui er'kit mace. Secura lorth cato danni skywalker. Motti arkanian vella skywalker dexter lorth nal lobot jade.

	Unu tavion allie ti. Massa zam ozzel clawdite. Corellia desolous ralter wicket epicanthix raa habassa skywalker utapau. Oola gossam wuher sio vagaari. Emtrey trioculus ithorian tatooine teneniel. X1 carnor maarek kyle. Shi'ido ulic yarael darpa. Antilles wampa moff jubnuk dooku psadan. Vodran panaka falleen medon hallotan padmé. Lama hssis thakwaash jacen. Falleen solo jarael ben crynyd. Vulptereen solo sluis sidious hypori sabé sarn jabiimas. Sunrider kenobi cordé thisspias davin kalarba mustafar. 
	</p>
</div>
</body>